<fd-popover [alignment]="'right'">
  <fd-popover-control>

    <button fd-button [fdType]="'toolbar'" [glyph]="'filter'" [ngClass]="{ 'tn-button--disabled': !hasFacets() }"
      [attr.aria-expanded]="ariaExpanded">
      Filter
      <fd-badge *ngIf="filterState.facets && 0 < filterState.facets.length && hasFacets()">
        {{ filterState.facets.length }}
      </fd-badge>
    </button>
  </fd-popover-control>
  <fd-popover-body>
    <fd-list>
      <li fd-list-item *ngFor="let facet of filterState.availableFacets">
        <div class="fd-form__item fd-form__item--check">
          <label class="fd-form__label" for="{{facet.label }}" (click)="toggleFacet(facet.label, $event)">
            <input class="fd-form__control" id="{{facet.label }}" type="checkbox" [checked]="facetSelected(facet.label)">
            {{ facet.label }} ({{ facet.count }})
          </label>
        </div>
      </li>
    </fd-list>
  </fd-popover-body>
</fd-popover>