table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
}
th,
td {
  padding: 5px;
}
table {
  margin-bottom: 50px;
}

thead > tr:first-child > td {
  text-align: center;
  font-weight: bold;
}
