.code-tab-grid {
  $self: &;
  display: grid;
  grid-template-columns: minmax(0, 2fr) 1fr;
  grid-gap: 1em;
  align-items: baseline;

  &--expanded {
    grid-template-columns: 100%;
    @at-root #{$self}#{&} .col-2 {
      display: none;
    }
  }

  .col-2 {
    grid-column: 2;
    display: grid;
    grid-gap: 1em;
  }
}
