# Default owners of the repository
* @akucharska @kwiatekus @dariadomagala @y-kkamil @antiheld @parostatkiem @sjanota

/catalog/ @akucharska @kwiatekus @dariadomagala @y-kkamil @parostatkiem @sjanota
/instances/ @akucharska @kwiatekus @dariadomagala @y-kkamil @parostatkiem @sjanota
/brokers/ @akucharska @kwiatekus @dariadomagala @y-kkamil @parostatkiem @sjanota
/content/ @michal-hudy @aerfio @m00g3n @magicmatatjahu
/compass/ @kwiatekus @dariadomagala @y-kkamil @akucharska @parostatkiem @sjanota
/components/angular/ @kwiatekus @dariadomagala @y-kkamil @akucharska @parostatkiem @sjanota
/components/react/ @akucharska  @kwiatekus @dariadomagala @y-kkamil @parostatkiem @sjanota
/core/ @kwiatekus @dariadomagala @y-kkamil @parostatkiem @akucharska @sjanota
/tests/ @akucharska  @kwiatekus @dariadomagala @y-kkamil @parostatkiem @sjanota
/lambda/ @kwiatekus @dariadomagala @y-kkamil @parostatkiem @akucharska @sjanota

# Owners of all .md files in the repository
*.md @kazydek @klaudiagrz @tomekpapiernik @bszwarc @mmitoraj

# Owners of config file for MILV - milv.config.yaml
milv.config.yaml @michal-hudy @aerfio @m00g3n @magicmatatjahu

# Owners of governance file
governance.Jenkinsfile @suleymanakbas91 @clebs @a-thaler @lilitgh @michal-hudy @aerfio @m00g3n @magicmatatjahu
