// Include Fiori Fundamentals
$fd-icons-path: '~fiori-fundamentals/dist/icons/';
$fd-fonts-path: '~fiori-fundamentals/dist/fonts/';
@import '~fiori-fundamentals/scss/helpers.scss';
@import '~fiori-fundamentals/scss/fundamentals.less.scss';
@import '~fiori-fundamentals/dist/fonts.min.css';
@import '~fiori-fundamentals/dist/icons.min.css';


fd-icon.clickable {
  cursor: pointer;
  &:hover {
    color: var(--fd-color-action-1);
  }
}
