.fd-panel {
  .fd-form-item {
    margin-bottom: 0;
  }
  .fd-form-label {
    line-height: inherit;
  }
}
.access-strategy {
  .fd-panel__header {
    input {
      max-width: 30%;
      //font-weight: bold;
      font-size: 1.6em;
      color: var(--fd-color-action-3);
      margin-left: 8px;
    }
  }

  .inline-radio-group {
    line-height: 2.8;
    .fd-form-item {
      display: inline-block;
      vertical-align: middle;
      margin-right: 16px;
      line-height: 3;
      float: none;
    }
  }
  .mutator-section {
    padding: 0px;
    .fd-form-group {
      flex-grow: 1;
      margin-right: 8px;
    }
  }
}
