//Overwrite bg color for modals overlay
fd-modal .fd-modal-background {
  background-color: rgba(74,80,92,.3) !important;
  opacity: 1 !important;
}


//Common styles for modals
.fd-modal__footer {
  .fd-button {
    margin-left: 5px;

    &:first-child {
      margin-left: 0;
    }
  }
}

.fd-modal--large {
  .fd-modal {
    max-width: 650px;
  }
}

.fd-modal--xlarge {
  .fd-modal {
    max-width: 80%;
  }
}

//Forms
.y-fd-form__message--disabled {
  color: var(--fd-color-status-4) !important;
}

//Tables
.fd-table {
  &__th--min,
  &__td--min {
    width: 8.33333%;
  }
}

.fd-action-bar {
  &__actions {
    flex-shrink: 0; //another bug when search input is expanded
    .fd-popover {
      top: 0; /*  There is a bug from Fiori Fundamentals.
                  When action bar includes popover with `fd-button--primary` class,
                  then it's not aligned with other buttons in row anymore,
                  because it has `top: - fd-space(1)` by default.
                  Until it's fixed in Fundamentals, better to keep these styles to overwrite it.
              */
    }
  }
  &__header {
    .fd-breadcrumb {
      font-size: 23px;
    }
  }
}

//Panel
.fd-panel {
  display: block;
}

//helpers
.y-word-wrap {
  word-wrap: break-word;
}

.y-word-break {
  word-break: break-all;
}

// Container
.y-fd-container--space-bottom {
  @extend .fd-has-margin-small;
  @extend .fd-has-padding-small;
}

.y-fd-container--border-light {
  border-bottom: 1px solid #cccccc;
}

//Token
.fd-panel__filters {
  .y-fd-token {
    margin-top: fd-space('tiny') / 2;
    margin-bottom: fd-space('tiny') / 2;
  }  
}

.y-fd-token {
  margin-bottom: fd-space('tiny');
  margin-right: fd-space('tiny');
  &.y-fd-token--no-button {
    cursor: default;
    &:after {
      all: unset;
    }
  }
}


//Tables
.fd-table {
  &__th--min,
  &__td--min {
    width: 8.33333%;
  }

  .disabled {
    opacity: 0.5;
    pointer-events: none;
  }

  td {
    vertical-align: top;
  }

  .y-fd-table {
    margin-bottom: 0;

    $possible-columns: 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12;
    @each $i in $possible-columns {
      &__th--col-#{$i} {
        width: calc(100% / 12 * #{$i});
      }
      &__td--col-#{$i} {
        width: calc(100% / 12 * #{$i});
      }
    }

    &__tr--no-border-below {
      border-bottom: 0;
    }

    &__tr--no-border-below + tr {
      border-top: 0;
    }

    tr {
      cursor: default;
    }

    td a {
      cursor: pointer;
    }
  }
}


//Workaroud before techne is not removed
input[type=checkbox] {

  border-color: var(--fd-forms-border-color);
  background-color: var(--fd-forms-background-color);

  &:checked {
    &:after {
      display: none;
    }
  }
}

.y-fd-panel__actions {
  .fd-panel__actions {
    display: flex;

    > *,
    > button {
      margin-left: 8px;
  
      &:first-child {
        margin-left: 0;
      }
    }
  }
}
