<ng-container>
  <div class="sf-toolbar">
    <div class="sf-toolbar__header">Your Organisation</div>
  </div>
  <fd-panel-grid [col]="1">
    <fd-panel>
      <fd-panel-body>
        <fieldset fd-form-set>
          <fd-form-group>
            <div class="tn-form__group">
              <div class="tn-form__item">
                <label class="tn-form__label">Name</label>
                <input
                  class="tn-form__control"
                  type="text"
                  placeholder="Function name"
                  value="{{ orgName }}"
                  readonly
                />
              </div>
            </div>
          </fd-form-group>
          <fd-form-group>
            <div class="tn-form__item">
              <label class="tn-form__label">Org-ID</label>
              <input
                class="tn-form__control"
                type="text"
                value="{{ orgId }}"
                readonly
              />
            </div>
          </fd-form-group>

          <fd-form-group>
            <div class="tn-form__group">
              <div class="tn-form__item">
                <label class="tn-form__label">kubeconfig</label>
                <span class="info-text"
                  >kubeconfig is a file used to configure access to a cluster.
                  Download it to access the cluster using command line.</span
                >
                <button
                  class="tn-button tn-button--small tn-button--text download-button"
                  (click)="downloadKubeconfig()"
                >
                  Download config<img
                    src="assets/download.svg"
                    class="download-icon"
                  />
                </button>
              </div>
            </div>
          </fd-form-group>
        </fieldset>
      </fd-panel-body>
    </fd-panel>
  </fd-panel-grid>
</ng-container>
