
<fd-popover [alignment]="'right'">
  <fd-popover-control>
          <button aria-label="contextual menu" fd-button [fdType]="'light'" [glyph]="'vertical-grip'"></button>
      </fd-popover-control>
      <fd-popover-body >
          <fd-menu>
              <fd-menu-list>
                  <li fd-menu-item *ngFor="let action of actions">
                      <a (click)="executeAction(action, $event);" [name]="action.name">{{action.name}}</a>
                  </li>
              </fd-menu-list>
          </fd-menu>
      </fd-popover-body>
</fd-popover>
