<tr [ngClass]="{ disabled: disabled === true }">
  <td>
    <a
      href="javascript:void(null)"
      (click)="navigateToDetails(entry.name)"
      class="fd-has-font-weight-bold"
    >
      {{ entry.name }}
    </a>
  </td>
  <td>{{ entry.hostname }}</td>
  <td>{{ entry.service.name }}</td>
  <td>{{ entry.service.port }}</td>
  <td>
    <p>{{ isSecured(entry) }}</p>
  </td>
  <td>Wczoraj</td>
  <td class="fd-has-float-right">
    <y-list-actions
      [entry]="entry"
      [entryEventHandler]="entryEventHandler"
      [actions]="actions"
    ></y-list-actions>
  </td>
</tr>
