.oauth-client-secret-wrapper {
    column-span: all;
    width: 100%;
    display: flex !important;
    justify-content: center;
    margin-bottom: 16px !important;
    margin-top: 16px !important;
    font-size: 1.8rem;
}
