@import '~fundamental-styles/dist/fundamental-styles-ie11.min.css';

.link {
  color: var(--fd-color-action-1);
  text-decoration: underline;
  cursor: pointer;
}

.fd-panel.fd-panel--no-background {
  background-color: transparent;
}

.y-fd-token{
  &.y-fd-token{
    &--no-button {
      cursor: default;
    }
    &--no-button:after {
      all: unset;
    }
    &--gap:not(:last-of-type) {
      margin-right: 8px;
    }
  }
}
